.window-app.sheet {
  //  background: white;
  .window-content {
    background: white;
  }
  input[type='text'] {
    background: white;
    border-radius: 0;
  }
}
.skills {
  width: 20em;
  h3 {
    border:none;
  }
}

.skill {
  border-bottom: 1px solid black;
  margin-bottom: 1em;

  input[type='text'] {
    width: 2em;
    margin-right: 1em;
  }
}
 
